<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- run groups, class, method  -->

<suite name="Suite" verbose="1">
    <groups>
        <run>
            <include name="testOne" > </include>
        </run>
    </groups>
    <test name="First Test">
        <classes>
            <class name="Bai10_Annotation.demoAnnotation"> </class>
        </classes>
    </test>

    <test name="Second Test">
        <classes>
            <class name="Bai10_Annotation.demoAnnotation">
                <methods>
                    <include name="testOne" > </include>
                </methods>
            </class>
        </classes>
    </test>
</suite>